/.idea
/__pycache__/
/config.py
/vid.mp4
/video.mp4
/log.txt
/consoleOutput.txt
venv
.env
modules/__pycache__/
video_storage/
base.db
modules/db/base.db
modules/db/__pycache__/
modules/logs.db
modules/db/logs.db
